body {
    background-image: url("../images/retina_wood.png");
    background-repeat: repeat;
}


header {
    background-color: #fff;
    margin-bottom: 40px;
    border-bottom: 2px solid #ccc;
    margin-top: 0px;
}

#name {
    float: left; 
    display: block;
    background-color: #4aaaa5;
    color: #fff;
    font-family: "Georgia";
    font-size: 30px;
    padding: 0 40px;
    line-height: 90px;
    font-weight: bold;
    text-decoration: none;
}

nav {
    float: right;
}

nav ul {
    display: block;
}

nav ul li {
    display: inline-block;
    line-height: 90px;
}

nav ul li a {
    text-decoration: none;
    color: #999;
    margin-left: 20px;
    line-height: 22px;
    padding-left: 20px;
    border-left: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color: #4aaaa5;
    transition: 0.5s; 
}

#content {
    border: 1px solid;
    border-color: #dddddd;
    padding: 20px;
    background-color: #eeeeee;
}

h2 {
    color: #4aaaa5;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.wrapper{
    width: 960px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
}

.trophy {
    float: left;
    margin-right: 30px;
    width: 300px;
    border: solid;
    border-color: #4aaaa5;
    border-width: 2px;
    margin: 0px 10px 0px 0px;
}